{% extends 'users/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Create Note</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>
            <div class="mb-3">
                {{ form.content.label_tag }}
                {{ form.content }}
            </div>
            <div class="mb-3">
                {{ form.tags.label_tag }}
                {{ form.tags }}
            </div>
            <p><a href="{% url 'tag_create_url' %}">No tags? Then create it!</a></p>
            <button type="submit" class="btn btn-success w-100">Save</button>
        </form>
    </div>
</div>
{% endblock content %}