{% extends 'main.html' %}

{% block title %}
   <title>Show Page</title>
{% endblock %}

{% block content %}
<center><h1>Show Notes</h1></center>
<table class="table">
   <thead>
     <tr>
       <th scope="col">NoteID</th>
       <th scope="col">UserId</th>
       <th scope="col">Title</th>
       <th scope="col">Content</th>
       <th scope="col">Created_at</th>
       <th scope="col">Tags</th>
     </tr>
   </thead>
   <tbody>
   {% for i in obj %}
     <tr>
       <td>{{i.id}}</td>
       <td>{{i.user_id}}</td>
       <td>{{i.title}}</td>
       <td>{{i.content}}</td>
       <td>{{i.created_at}}</td>
       <td>{{i.tags}}</td>
       <td>
           <button class="btn btn-warning"><a href="{% url 'update_url' i.id %}">Update</a></button>&nbsp;&nbsp;
           <button class="btn btn-danger"><a href="{% url 'delete_url' i.id %}">Delete</a></button>
       </td>
     </tr>
   {% endfor %}
   </tbody>
 </table>
{% endblock %}