{% extends "users/base.html" %}

{% block content %}

<div>
    <h1>Profile page: {{user.username}}</h1>
    {% if user.avatar %}
    <img src="{{ user.avatar.url }}" alt="{{ user.username }}'s avatar">
{% else %}
    <p>No avatar uploaded</p>
{% endif %}
</div>

{% if messages %}
<div>
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="small mb-1">Change Avatar:</label>
                {{ profile_form.avatar }}
                <span>{{ profile_form.errors.avatar }}</span>
            </div>
        </div>
    </div>
    <div class="grid">
        <button type="submit">Save Changes</button>
        <button type="reset" class="secondary">Reset</button>
    </div>

</form>
<div class="grid" style="margin-top: 20px;">
    <a href="files" class="btn btn-warning">My Contacts</a>
    <p><a href="{%url 'main_url' %}">My Notes</a></p>
    <a href="files" class="btn btn-warning">My Files</a>
    <a href="files" class="btn btn-warning">News</a>
</div>

{% endblock content %}

