{% extends "users/base.html" %}

{% block content %}

<div class="mb-3">
    <h2>Registration</h2>
     {% if form.errors and form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}
</div>

<form method="post" style="color: #2EA1D9;" action="{% url 'users:registration' %} ">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label"> Username:
            {{ form.username }}
        </label>
        <span>{{ form.errors.username }}</span>
    </div>
    <div>
        <label class="form-label"> Email:
            {{ form.email }}
        </label>
        <span>{{ form.errors.email }}</span>
    </div>
    <br>
    <div class="mb-3">
        <label class="form-label"> Password:
            {{ form.password1 }}
        </label>
        <span>{{ form.errors.password1 }}</span>
    </div>
    <div class="mb-3">
        <label class="form-label"> Password confirmation:
            {{ form.password2 }}
        </label>
        <span>{{ form.errors.password2 }}</span>
    </div>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
</form>

{% endblock %}